@model ProjectEuler.Models.CodeSolution

@{
    ViewData["Title"] = "Details";
}

<h1>
    <dd>
        @Html.DisplayFor(model => model.Title)
    </dd>
</h1>

<div>
    <h4>
        
    </h4>
    <a asp-action="Index">Back</a>
    <pre>
        <code class="C# code-block">
            <dd>
                @Html.DisplayFor(model => model.Solution)
            </dd>
        </code>
    </pre>
    
</div>


